@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* header  */
#header {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(header-background-a9.jpg) center/cover no-repeat;

  background-attachment: fixed;

  max-width: 100%;
  min-height: 90vh;
  padding-top: 4em;

  top: 0;
  left: 0;
  z-index: -1000;
}

h5,
.active {
  color: #10a8be;
}

.header-title {
  border: 1px dashed #ffffff;
  max-width: 60%;
  margin: 0 auto;
  position: relative;
  padding: 1em 0px;
}

.header-item {
  position: absolute;
  width: 40%;
  background-color: #ffffff;
  color: #10a8be;
  top: 88%;
  left: 30%;
}
/* end of header  */

/* navigation  */
ul {
  margin-left: auto;
}

ul li a {
  color: #000000 !important;
  margin-left: 10px;
}

nav {
  padding: 1em 0px;
}

.navbar-brand {
  color: #10a8be !important;
  font-size: 2rem;
}

.active {
  color: #10a8be !important;
}

/* end of navigation  */

/* feature  */
#feature,
#top-skills,
#choose-plan,
#tweet,
#touch {
  background-color: #e8eced;
  min-height: 100vh;
  padding: 5% 0px;
}

h2::before,
h2::after {
  background-color: #10a8be;
  content: "";
  width: 15%;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.feature-item {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  width: 140px;
  height: 80px;
  border: 2px solid #10a8be;
  border-top: transparent;
  border-bottom: transparent;
  text-align: center;
  font-size: 80px;
  line-height: 80px;
}

.feature-item::before,
.feature-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid #10a8be;
  border-top: transparent;
  border-bottom: transparent;
  transform: rotate(0deg);
}

.feature-item::before {
  transform: rotate(120deg);
}

.feature-item::after {
  transform: rotate(-120deg);
}

.underline {
  position: relative;
}

.feature-item > div {
  width: 34%;
  text-align: center;
}

.underline {
  content: "";
  background: #10a8be;
  width: 34%;
  height: 10px;
  display: block;
  margin: 0 auto;
}
/* end of feature */

/* about us  */
#about-us,
#service,
#portfolio,
#client,
#blog,
#watch,
#contact {
  padding: 10% 0px;
}

.about-title {
  border: 1px dashed #000000;
  max-width: 60%;
  margin: 0 auto;
  padding: 1em 0px;
}

.title-item {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* end of about us  */

/* top skills  */

/* end of top skills  */

/* our team  */
#our-team {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(our-team-background-1-a9.jpeg) bottom/cover no-repeat;
  /* background-attachment: fixed; */
  max-width: 100%;
  min-height: 150vh;
  padding-top: 4em;
}

.card-section {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(our-team-background-2-a9.jpeg) bottom/cover no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.card img {
  height: 300px;
  padding-bottom: 40px;
}

#our-team .card {
  background-color: transparent;
  min-height: 450px;
}
/* end of our team  */

/* info */
.info {
  background: #10a8be;
  min-height: 25vh;
  display: flex;
  align-items: center;
}

.info h3 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 0;
}

.info .fas,
.info .far,
#service .fas,
#core .fas,
#core .far {
  font-size: 3rem;
}
/* end of info  */

/* service  */
/* end of service  */

/* core  */
#core {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(core-background-a9.jpeg) center/cover no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  min-height: 100vh;
  padding: 5% 0px;
  display: flex;
  align-items: center;
}

#core h2::before,
#core h2::after {
  background-color: #ffffff;
  content: "";
  width: 20%;
  height: 10px;
  display: block;
  margin: 0 auto;
}
/* end of core  */

/* portfolio */
.button {
  width: 60%;
  margin: 0 auto;
}

.active-btn {
  background-color: #10a8be;
  color: #ffffff;
}
#portfolio img {
  height: 200px;
}

/* end of portfolio */

/* choose plan  */
.triangle {
  width: 0;
  height: 0;
  border-bottom: 120px solid #10a8be;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  margin: 0 auto;
  position: relative;
}

.price > p {
  margin: 0;
}

.price {
  position: absolute;
  top: 25%;
  left: 43%;
}
/* end of choose plan  */

/* client  */
#client {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(client-a9.jpeg) center/cover no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  min-height: 110vh;
}

#client img {
  width: 130px;
  height: 130px;
}

#client span {
  font-size: 10rem;
}

.client-footer {
  background-color: #10a8be;
  font-family: "Monoton", cursive;
  font-size: 3rem;
}
/* end of client  */

/* latest tweet  */
/* end of latest tweet  */

/* watch this  */
#watch {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    url(client-a9.jpeg) center/cover no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  min-height: 110vh;
}
/* end of watch this */
